.column {
    float: right;
    width: 24%;
  }

  body, html {
    height: 100%;
    background-color: #CEE6B4;
}

.bg {
    background-image: url("bg.jpg");
    height: 40%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1550px 700px;
  }
